* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --base-color:94;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: white;

  font-size: 62.5%;
}

body {
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,25,10,1) 49%, rgba(22,89,37,0.9192051820728291) 100%);
  /* background-color: var(--bg-color); */
  color:var(--text-color);
  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;
}

 main {
  align-self: end;
  justify-self: center;
 }

 footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 8rem 0;
 }
.timer {
  font-size: clamp(4.4rem, 4.4rem + 10vw, 8.8rem);
  display: flex;
  margin-bottom: 1.6rem;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.som-on svg path{
  fill: var(--primary-color);
}
.controls {
  background-color: var(--bg-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  border-radius: 99.99rem;
  margin: auto;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 1rem + 3vw, 10.8rem)
}

#dica {
  color: rgba(255, 255, 255, 0.808);
  margin-top: 1rem;
  text-align: center;
  display: flex;
  font-size: clamp(0.3rem, 0.5rem + 0.9vw, 2.2rem);
}